body {
    background-color: rgb(240, 240, 240);
    font-family: "arial";
    font-size: 15px;
    margin: 0%;
}
.navbar {
    font-weight: bold;
    background-color: rgb(50, 72, 108);
    height: 8vh;
    display: flex;
    align-items: center;
}
.container {
    width: 98%;
}
a {
    color: white;
    text-decoration: none;
    padding: 1%;
    margin: 1% 0% 1% 2%;
    border-radius: 2px;
    text-decoration: underline 5px solid rgb(90, 132, 200);
}
a:hover {
	text-decoration: none;
	background-color: rgb(90, 132, 200);
}
#book-search, #borrower-search {
    padding: 0.5% 1%;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(50, 72, 108);
    color: white;
    margin: 1%;
    width: 15%;
}
#search-value-book, #search-value-borrower {
    padding: 0.5%;
    font-size: 15px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 2px;
    width: 50%;
}
.button {
    padding: 0.5% 1%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background-color: rgb(90, 132, 200);
    color: white;
    margin: 1%;
    width: 15%;
}
#search-book-area, #search-borrower-area {
    margin: 1.5% 2%;
}
#book-list-view, #borrower-list-view {
    width: 80%;
    margin: 2% 10%;
    height: 55vh;
    overflow: auto;
}
table {
    width: 100%;
}
.unique_id {
	font-weight: bold;
}
th {
    background-color: rgb(55, 110, 152);
    color: white;
    height: 40px;
}
#current-row-count-books, #current-row-count-borrowers {
    font-size: 15px;
    font-weight: bold;
    color: rgb(120, 120, 200);
    margin: 0% 10%;
}
td {
    background-color: white;
    border-bottom: 1px solid rgb(50, 50, 50);
    text-align: center;
    height: 40px;
}
#time-string {
    text-align: right;
    margin: 0% 2%;
    color: white;
}
#current-time, #log-name {
    padding: 1% 2%;
    background-color: rgb(90, 132, 200);
    border-radius: 2px;
}
fieldset {
	width: 80%;
	margin: 2% 10%;
	background-color: white;
}
legend {
	padding: 0.5% 1%;
	background-color: rgb(55, 110, 152);
	font-weight: bold;
	color: white;
	border-radius: 2px;
}
.form-entry {
	margin: 2%;
}
label {
	font-weight: bold;
	color: rgb(80, 100, 120);
}
.add-entry, .update-entry {
	padding: 0.5%;
	width: 98%;
	background-color: rgb(235, 240, 242);
	border: 1px solid rgb(150, 150, 150);
}
.large {
	width: 95%;
	margin: 2%;
	height: 2.5em;
	font-size: 16px;
}
.medium {
	height: 3em;
	font-size: 15px;
	margin: 2%;
}
.access-button {
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}
.red {
	background-color: rgb(230, 65, 53);
}
.green {
	background-color: rgb(66, 173, 77);
}
.red:hover {
	background-color: rgb(230, 65, 53);
}
.green:hover {
	background-color: rgb(66, 173, 77);
}
#issue-message, #book-message, #delete-message {
	width: 80%;
	margin: 1% 10%;
	color: white;
	padding: 1%;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}
#add-usertype {
	width: 99%;
}
#log-out, #delete-acc { 
	text-decoration: none;
	background-color: rgb(66, 173, 77);
}
#delete-acc {
	background-color: rgb(230, 65, 53);
}
