{% extends 'library_main.html' %}
{% block title %} Borrowers {% endblock title %}
{% block body %}
	<div class = "container" id = "search-borrower-area">
		<form action = "/borrowers" method = "POST">
			<select class = "searching" name = "search-by" id = "borrower-search">
				<option value = "Borrower_ID">Borrower ID</option>
				<option value = "Borrower_Type">Borrower Type</option>
				<option value = "Book_ID">Book ID</option>
			</select>
			<input type = "text" name = "search-value" id = "search-value-borrower" placeholder = "Search Borrower Details">
			<button type = "submit" class = "button" name = "search-btn">SEARCH</button>
		</form>
	</div>
	<p id = "current-row-count-borrowers">Records Displayed = {{totalList|length}}</p>
	<div class = "container" id = "borrower-list-view">
		{% if totalList|length > 0 %}
			<table id = "books-list" cellpadding = "5" cellspacing = "0">
				<thead>
					<tr>
						<th>Borrower ID</th>
						<th>Borrower Type</th>
						<th>Book ID</th>
						<th>Issue Date</th>
						<th>Return Date</th>
						<th>Fine Amount</th>
						<th>Days Left</th>
						<th colspan = "2">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for item in totalList %}
						<tr>
							<td class = "unique_id">{{item[0]}}</td>
							<td>{{item[1]}}</td>
							<td>{{item[2]}}</td>
							<td>{{item[3]}}</td>
							<td>{{item[4]}}</td>
							<td>&#8377; {{item[5]}}</td>
							<td>{{leftover[item[4]]}}</td>
							<td><a href = "/returned/{{item[0]}} - {{item[2]}}" class = "access-button green">Returned</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock body %}
