{% extends 'library_main.html' %}
{% block title %} Add {% endblock title %}
{% block body %}
	<div class = "container" id = "add-book-info">
		<fieldset>
			<legend>Add New Set of Book To Store</legend>
			<form action = "/addbook" method = "POST">
				<div class = "form-entry">
					<p><label for = "bookid" class = "form-label">Book ID</label></p>
					<p><input type = "text" class = "add-entry" name = "add-bookid" id = "add-bookid"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "bookname" class = "form-label">Book Name</label></p>
					<p><input type = "text" class = "add-entry" name = "add-bookname" id = "add-bookname"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "subject" class = "form-label">Subject</label><br></p>
					<p><input type = "text" class = "add-entry" name = "add-subject" id = "add-subject"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "author" class = "form-label">Author</label><br></p>
					<p><input type = "text" class = "add-entry" name = "add-author" id = "add-author"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "quantity" class = "form-label">Quantity</label><br></p>
					<p><input type = "text" class = "add-entry" name = "add-quantity" id = "add-quantity"></p>
				</div>
				<button type = "submit" class = "button large">Add To Store</button>
			</form>
		</fieldset>
	</div>
{% endblock body %}
