<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Library - {% block title %} {% endblock title %}</title>
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'styles/layout.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src = "{{url_for('static', filename = 'scripts/functions.js')}}"></script>
    </head>
    <body onload = "showClock()">
        <nav class = "navbar">
            <div class = "container" id = "navigation">
            	<a href = "/" id = "bookstore">BookStore</a>
                <a href = "/addbook" id = "addbook">AddBook</a>
                <a href = "/borrowers" id = "borrowers">Borrowers</a>
                <a href = "/lendbook" id = "lendbook">LendBook</a>
            </div>
            <div class = "container" id = "time-string">
            	<span id = "current-time" name = "current-time">00:00:00</span>
            </div>
        </nav>
        {% block body %} {% endblock body %}
    </body>
</html>
