{% extends 'library_main.html' %}
{% block title %} Update {% endblock title %}
{% block body %}
	<div class = "container" id = "add-book-info">
		<fieldset>
			<legend>Update Book Details</legend>
			<form action = "/updatebook/{{data[0]}}" method = "POST">
				<div class = "form-entry">
					<p><label for = "bookname" class = "form-label">Book Name</label></p>
					<p><input type = "text" class = "update-entry" name = "upd-bookname" id = "upd-bookname" value = "{{data[1]}}"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "subject" class = "form-label">Subject</label><br></p>
					<p><input type = "text" class = "update-entry" name = "upd-subject" id = "upd-subject" value = "{{data[2]}}"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "author" class = "form-label">Author</label><br></p>
					<p><input type = "text" class = "update-entry" name = "upd-author" id = "upd-author" value = "{{data[3]}}"></p>
				</div>
				<div class = "form-entry">
					<p><label for = "quantity" class = "form-label">Quantity</label><br></p>
					<p><input type = "text" class = "update-entry" name = "upd-quantity" id = "upd-quantity" value = "{{data[4]}}"></p>
				</div>
				<button type = "submit" class = "button large">Update Book Data</button>
			</form>
		</fieldset>
	</div>
{% endblock body %}
