body
{
	margin:0%;
	font-family:"arial";
}
.cv_intro,#cv_objective,#cv_education,#cv_achievements,#cv_training,#cv_projects,#cv_certificate,#cv_skills,
#cv_interest,#cv_language,#cv_personal,.cv_declare,.cv_signing
{
	width:100%;
	border-bottom:5px solid rgb(180,180,180);
	margin-bottom:2%;
	font-size:15px;
}
#layout,#builder
{
	width:100%;
	margin:0%;
}
#layout{display:none;}
.label
{
	font-weight:bold;
	width:160px;
}
#profile
{
	width:120px;
	height:auto;
	float:right;
}
.header,.subhead
{
	width:100%;
	display:flex;
	font-weight:bold;
	height:6vh;
	border-bottom:5px solid rgb(180,180,180);
	color:royalblue;
	align-items:center;
	justify-content:center;
	font-size:40px;
	margin:0% 0% 2% 0%;
}
.subhead
{
	font-size:20px;
	justify-content:left;
	text-decoration:2px solid underline royalblue;
	height:2vh;
	margin:0%;
	width:100%;
}
#signature
{
	width:150px;
	height:auto;
	border-bottom:1px solid black;
	float:right;
}
#identity{float:right;}
#cv_education td,#cv_training td,#cv_projects td,#cv_skills td,#cv_language td,.attribute{border:1px solid rgb(100,100,100);}
.subhead{border:none;}
.cv_signing{border:none;}
.heading
{
	margin:0%;
	width:100%;
	display:flex;
	height:10vh;
	font-size:25px;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	color:white;
	background:linear-gradient(to top right, rgb(40,150,210), rgb(40,180,180), rgb(40,210,150));
}
fieldset
{
	margin:5vh 2% 0% 2%;
	padding-top:1%;
	font-size:20px;
	font-weight:bold;
	background:rgb(240,240,240);
	border-radius:5px;
}
.head_buttons
{
	color:white;
	background:rgb(75,130,162);
	font-weight:bold;
	padding:4% 10%;
	font-size:16px;
	border-radius:5px;
	border:none;
}
.data_entry
{
	padding:0.6%;
	font-size:12px;
	width:80%;
	border:1px solid rgb(100,100,100);
	background:white;
	border-radius:2px;
}
.upload,.data_submit
{
	width:15%;
	padding:0.7% 0%;
	border-radius:2px;
	color:white;
	border:none;
	background:rgb(20,180,50);
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
.data_submit
{
	width:96%;
	font-size:15px;
	margin:5vh 2%;
	padding:2vh 0%;
}
@media only screen and (max-width:600px)
{
	feildset
	{
		margin:2vh 2% 0% 2%;
		border-radius:2px;
	}
	.data_submit{margin:2vh 2%;}
	legend{font-size:15px;}
}
